<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .jumbotron {
      color: black;
      background-color: white;
    }

    body {
      background-color: #1a1a1a;
      color: white;
      padding-top: 70px;
    }

    .package-list {
      list-style-position: outside;
      padding: 20px 50px;
      margin-left: 130px;
      display: block;
      
    }

    .package-item {
      font-size: 18px;
    }

    .package-desc {
      
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar">potato</span>
        <span class="icon-bar">tomato</span>
        <span class="icon-bar">asdf</span>                        
      </button>
      <div>
        <a class="navbar-brand" href="/main-page"><img src="./HMMMmmmmMMMMmmmm.png" class="img-responsive" width="35px" height="35px"></a>
      </div>
      
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <div class="container text-center">
    <img src="./allmight.gif" class="img" alt="profile pic" height="250">
  </div>   
    <p class="lead" style="font-size: 30px;">About Us</p>
    <p>This website is made by DLSU 116 computer science students for WEBAPDE. It's formatting and design took inspiration from Imgur and 9gag. It is a site for each and every kind of meme-r. BE DANK AND ENJOY!</p>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">

    <div class="col-sm-6 text-left" style="border-right: solid;">
      <p style="margin-left: 130px;">NPM Packages
      <ol class="package-list">
        <li class="package-item">express</li>
        <li class="package-item">body-parser</li>
        <li class="package-item">express-session</li>
        <li class="package-item">mongoose</li>
        <li class="package-item">formidable</li>
        <li class="package-item">fs</li>
        <li class="package-item">crypto</li>
        <li class="package-item">cool-ascii-faces</li> 
        <li class="package-item">express-sanitize</li>
          <dd class="package-desc">-To check for cross-site scripting</dd>
         
      </ol>
      </p>
    </div>

    <div class="col-sm-6 text-left">
      <p style="margin-left: 130px;">Third-Party Libraries
      <ol class="package-list">
        <li class="package-item">Bootstrap</li>
          <dd class="package-desc">-For the general layout templates</dd>
        <li class="package-item">Materialize</li>
          <dd class="package-desc">-For enlarging memes in main page</dd>
      </ol>
      </p>
    </div>
  </div>
</div>

</body>
</html>
