<!DOCTYPE html>
<html lang="en">
<!-- <meta http-equiv="refresh" content="1" > -->
<head>
  <title>MEME FACTORY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script>
  $(document).ready(function(){
    $("#login-button").click(function(){
        $("#login-modal").modal();
    });
  });
  </script>
  <script>
    
$(document).ready(function(){
    $('.materialboxed').materialbox();
  });
    
  </script>
  <style>
    /*.col-sm-2 {
      background-color: #b3b3ff;
      color: green;
      flex-grow: 1;
    }*/

    /*.col-sm-4 {
    	border: solid pink;
    }*/
    .main-header {
      color: #e6e6e6;
    }
      
      .userIcon{
         max-height: 65px;
         height: 65px;
         max-width: 100px;
        width: 100px;
      }

    .memeframe {
      max-height: 450px;
      max-width: 80%;
      align-content: center;
      /*border: solid;*/
      margin: auto;
    }

    .memecontainer {
      max-height: 425px;
      max-width: 70%;
      margin: auto;
    }

    .meme {
      max-height: 425px;
      min-height: 100%;
      max-width: 70%;
      min-width: 100%;
    }

    .panel {
      width: 100%;
      min-height: 300px;
    }

    .panel-group {
      margin: auto;
    }

    .panel-body {
      align-content: center;
      justify-content: center;
      padding: 2px;
    }

    .panel-heading {
   	  size: 20%;
   	  height: 100px
    }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100px}
    .row {margin-bottom: 5px}
    /* Set gray background color and 100% height */
    /*.sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }*/
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    body {
      background-color: #404040;
      padding-top: 70px;
    }
    

  </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar">potato</span>
        <span class="icon-bar">tomato</span>
        <span class="icon-bar">asdf</span>                        
      </button>
      <div>
        <a class="navbar-brand" href="#"><img src="./HMMMmmmmMMMMmmmm.png" class="img-responsive" width="35px" height="35px"></a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/about-pageSigned">About</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Tags..">
        </div>
        <a type="submit" class="btn btn-default" href = "/meme-tags">Search</a>
      </form>
        
      <ul class="nav navbar-nav navbar-right" >
<!--        <form action = '/' method="post" name = 'logout' role="form">-->
        <li><img src="/new/<%=image%>" class="img-responsive navbar-brand userIcon"></li> 
        <li><a href="/user-profile">Logged in as: <%=username%> </a></li>
        <li><a class="btn btn-default btn-lg" href = '/logout' >Logout</a></li>
<!--        </form>-->
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <!-- <p><a href="#">Hot</a></p>
      <p><a href="#">Random</a></p>
      <p><a href="#">Favorites</a></p> -->
    </div>
    <div class="col-sm-8 text-left"> 
       <div class="main-header " style="font-style: italic; font-weight: bold;">
      <h1 style="font-size: 70px;">MEME FACTORY</h1>
      <table>
        <tr>
          <td>
            <div style="font-size: 30px; width: 500px;">~web development is a meme
            </div>
          </td>
        
        <td>
          <span>
          <img src="./datboi.gif" width="100px" height="100px" style="margin-left: 200px;">
          </span>
        </td>
      </tr>
        
      </table>
      

      <hr>
      </div> 
  </div>
  <div class="row">
  	<div class="container">
  	<div class="panel-group">
  	<div class="col-sm-4 text-left">
        <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>Ichigo means strawberry in Japanese</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
            <div class="memecontainer materialboxed"><img src="./ichigo.jpg"  class="meme"></div>
            <p>Posted by : Admin</p>
            <span><button type="button" class="btn-link">Franxx</button> <button type="button" class="btn-link">Ichigo</button>
            <button type="button" class="btn-link">Anime</button> <button type="button" class="btn-link">02</button>
            <button type="button" class="btn-link">Ichigo</button> 
            </span>
            </div>
              <a href="/view-meme" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
    </div>   
     <div class="col-sm-4 text-left">       
        <div class="panel panel-default">
            <div class="panel-heading"><h1 class="lead"><strong>Quality Pinoy Memes</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./pinoy.jpg" class="meme"></div>
            <p>Posted by : Admin</p>
            <span> <button type="button" class="btn-link">Pinoy</button> <button type="button" class="btn-link">Golden</button>
            <button type="button" class="btn-link">Advance mag isip</button> <button type="button" class="btn-link">Wala na Finish na Talaga</button>
                </span>
            </div>
              <a href="/view-meme2" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
    </div>
    <div class="col-sm-4 text-left">
        <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>Cute Puppy</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
            <div class="memecontainer materialboxed"><img src="./gif.jpg" class="meme"></div>
            <p> Posted by : Admin</p>
            <span><button type="button" class="btn-link">Kyot</button> <button type="button" class="btn-link">Pupper</button>
            <button type="button" class="btn-link">Doggo</button>
            </span>
            </div>
              <a href="/view-meme3" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
    </div> 
        
    </div>  
  	</div>
  </div>
  
  	<div class="row">
  	<div class="container">
  	<div class="panel-group">
  		<div class="col-sm-4 text-left">
  		<div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>When she ain't loyal</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./thot alarm.jpg" class="meme"> </div>
                <p> Tags:</p>
                <span><button type="button" class="btn-link">Thot</button> <button type="button" class="btn-link">Sad</button>
                <button type="button" class="btn-link">Family Guy</button> <button type="button" class="btn-link">Bird is the Word</button>
                </span>
            </div>
              <a href="/view-meme4" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
    	</div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>R.I.P</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./itscominghome.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">RIP</button> <button type="button" class="btn-link">Truth</button>
                <button type="button" class="btn-link">Croatia</button> <button type="button" class="btn-link">WorldCup</button>
                </span>
            </div>
              <a href="/view-meme5" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>College got me like</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./dissolve.png" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Dissolve</button> <button type="button" class="btn-link">College</button>
                </span>
            </div>
              <a href="/view-meme6" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
  	</div>
  	</div>
  	</div>
    <div class="row">
    <div class="container">
    <div class="panel-group">
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>middle korea best korea</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./northkorea.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Anime</button> <button type="button" class="btn-link">Traps are not GAY</button>
                </span>
            </div>
              <a href="/view-meme7" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>*Lenny Face*</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./lenny.png" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Lenny Face</button> <button type="button" class="btn-link">XD</button>
                <button type="button" class="btn-link">( ͡° ͜ʖ ͡°)</button> 
                </span>
                </div>
              <a href="/view-meme8" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>Politerino</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./politecat.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">CAT</button>
                </span>
                </div>
              <a href="/view-meme9" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="container">
    <div class="panel-group">
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>save the turtles thanks</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./seaturtles.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Save Earth chan</button> <button type="button" class="btn-link">Turtles</button>
                </span>
                </div>
                <a href="/view-meme10" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
            </div>
          </div>
        </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>YES</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./memesnow.png" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Yes</button> <button type="button" class="btn-link">The Future</button>
                </span>
                </div>
                <a href="/view-meme11" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
            </div>
          </div>
      </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>Grossly Incandescent</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./tpose.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Facts</button>
                </span>
                </div>
              <a href="/view-meme12" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="container">
    <div class="panel-group">
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>BBBBBBBBBBBBBBB</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./stolen.png" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Dank</button>
                </span>
                </div>
            <a href="/view-meme13" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>...obama?</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./obama.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Obama</button> <button type="button" class="btn-link">Reeeeeee</button>
                </span>
                </div>
              <a href="/view-meme14" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-left">
      <div class="panel panel-default">
          <div class="panel-heading"><h1 class="lead"><strong>PH right now</strong></h1></div>
          <div class="panel-body">
            <div class="memeframe">
                <div class="memecontainer materialboxed"><img src="./deadmayor.jpg" class="meme"></div>
                <p> Posted by : Admin</p>
                <span><button type="button" class="btn-link">Suspended</button> <button type="button" class="btn-link">Dark Humor</button>
                </span>
                </div>
            <a href="/view-meme15" type = "button" class = "btn btn-warning btn-xs btn-block">View</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  	<div class="container-fluid" style="float: right;">
  	<table>
  		<tr>
  		<td>
  			<ul class="pagination">
			    <li class="active"><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			</ul>
  		</td>
  		<td>
  			<ul class="pager">
			  <li><a href="#">Previous</a></li>
			  <li><a href="#">Next</a></li>
			</ul>
  		</td>
  		
  		</tr>
  	</table>
	  
	</div>
</div>

<!-- <footer class="container-fluid text-center">
  <h1 class="text-left">Potato</h1>
  <p>God's in his heaven. All is right with the world.</p>

</footer> -->

</body>
</html>
